<a href="/channel/{{ channel._id }}/post/{{ _id }}" class="post">
<div class="card card-body hvr-grow">
  <article>
    <div>
      <h5>{{ title }}</h5>
      <p>{{ content }}</p>
      <small>Channel: {{channel.name}} | Author: {{author.name}}</small>
    </div>
  </article>
</div>
</a>
