<div class="breadcrumb mb-5">
  <span><a href="/channel">Feed</a></span>
  <span>></span>
  <span>{{channel.name}}</span>
</div>

<!-- Modal -->
<div class="modal fade" id="channelModal-{{channel._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Channel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this channel?
      </div>
      <div class="modal-footer">
      <form method="post" action="/channel/{{channel._id}}/delete">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" class="btn btn-block mb-2 modaldelete" value="Delete">
      </form>
      </div>
    </div>
  </div>
</div>

<div class="relative">
  <h1>{{ channel.name }}</h1>
  {{#if sameUser}}
    <!-- Button trigger modal -->
    <button type="button" class="btn mb-2 post-delete" data-toggle="modal" data-target="#channelModal-{{channel._id}}" style="right: 190px; line-height: 44px;"> Delete Channel </button>
  {{/if}}
  <a href="/channel/{{ channel._id }}/post/create" class="btn create-post">
    <button>Create a Post</button>
  </a>

<main>
  <section>
    {{#each posts}}
      {{>post}}
    {{/each}}
  </section>
</main>
</div>