<article>
  <h1>{{ post.title }}</h1>
  <span>
    Channel: <a href="/channel/{{ post.channel._id }}">{{ post.channel.name }}</a> | Author <a href="/profile/{{ post.author._id }}">{{ post.author.name }}</a>
  </span>
  <p>{{ post.content }}</p>
</article>

{{#each comment}}
  {{> singlecomment}}
{{/each}}

<footer>
  <h4>Comments</h4>
  {{#each comments}}
    {{>comment}}
  {{/each}}
  <h4>Add a Comment</h4>
  {{>commentform}}
</footer>