<form action="/notes/search" method="post" class="searchbar">
  <input type="text" name="search" placeholder="Search"/>
  <button>Search</button>
</form>

<div class="container mb-5">
{{#each notes}}
    <div class="card card-body mb-2 overflow">
      <h4>{{title}}</h4>
      <p>{{details}}</p>
      <p>Creation date: {{ date creationDate 'DD/MM/YYYY' }}</p>
    <div class="notesContainer">
      <a class="btn mb-2 edit" href="/notes/edit/{{id}}"><i class="far fa-edit"></i></a>
      <a class="btn btn-block" href="/notes/{{ note }}/{{ _id }}">View</a>
      <form method="post" action="/notes/{{id}}?_method=DELETE">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" class="btn btn-block mb-2 delete" value="X">
      </form>
    </div>
    </div>
{{else}}
  <p>No notes listed</p>
{{/each}}
</div>