  <div class="card card-body mb-2">
    <h4>{{note.title}}</h4>
    <p>Creation date: {{note.creationDate}}</p>
    <p>{{note.details}}</p>
  </div>
    <a class="btn btn-block mb-2" href="/notes/edit/{{note.id}}">Edit</a>
    <form method="post" action="/notes/{{note.id}}?_method=DELETE">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" class="btn btn-block mb-2" value="Delete">
    </form>