<h2 class="mt-3">View all Users at Ironhack</h2>

<div class="relative">
  <form action="/users/private/search" method="post" class="searchbar mb-5">
  <input type="text" name="usersearch" placeholder="Search"/>
  <button>Search</button>
</form>

<form action="/users/private/filtered" method="post" class="col-auto todofilter">
    <select name="filtered" id="filtered" class="custom-select">
      <option selected value="">--Sort by User Type--</option>
      <option value="All">All</option>
      <option value="Student">Student</option>
      <option value="Teacher Assistant">Teacher Assistant</option>
      <option value="Teacher">Teacher</option>
    </select>
    <button>Filter</button>
</form>
</div>

{{#each allUsers}}
  <div class="card hvr-grow private">
    <h4 class="mb-2">{{name}}</h4>
    <p class="mb-4">{{usertype}}</p>
    <p class="mb-1">Campus: {{campus}}</p>
    <p class="mb-4">Cohort: {{cohort}}</p>
    <p class="mb-1">Email : {{email}}</p>
    <p class="mb-1">Contact Number : {{number}}</p>
  </div>
    {{else}}
    No users matched your search
    <a href="/users/private">See all again</a>
{{/each}}