<form action="/todos/search" method="post" class="searchbar">
  <input type="text" name="search" placeholder="Search"/>
  <button>Search</button>
</form>

<div class="container d-flex row mb-5">
{{#each todos}}
  <a href="/todos/edit/{{id}}">
    <div class="card card-body mb-2 col-auto overflow todos hvr-grow">
        <h4>{{title}}</h4>
        <p>Due date: {{dueDate}}</p>
        <p>Status: {{ status }}</p>
        <p class="details">{{details}}</p>
      <a class="btn mb-2 edit" href="/todos/edit/{{id}}"><i class="far fa-edit"></i></a>
      <form method="post" action="/todos/{{id}}?_method=DELETE">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" class="btn btn-block mb-2 delete" value="X">
      </form>
      <a class="btn btn-block mt-3 viewButton" href="/todos/{{ todo }}/{{ id }}">View</a>
    </div>
  </a>
{{else}}
  <p>No todos listed</p>
{{/each}}
</div>