<div class="breadcrumb mb-5">
  <span><a href="/todos">Todos</a></span>
  <span>></span>
  <span>{{todo.title}}</span>
</div>
<div class="card card-body mb-5">
  <h4>{{todo.title}}</h4>
  <p>Due date: {{ date todo.dueDate 'DD/MM/YYYY'}}</p>
  <p>Creation date: {{ date todo.creationDate 'DD/MM/YYYY' }}</p>
  <p>{{todo.details}}</p>
</div>
  <a class="btn btn-block mb-2" href="/todos/edit/{{todo.id}}">Edit</a>
  <form method="post" action="/todos/{{todo.id}}?_method=DELETE" class="mb-5">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" class="btn btn-block mb-2 editDelete" value="Delete todo">
  </form>